{% extends 'base.html' %}

{% block title %}Story Builder{% endblock %}

{% block content %}
    <h1 class="content__title">{{story.title}}</h1>
    <form action="/{{story.id}}" method="POST">
        {% for prompt in story.prompts %}
        <input type="text" id="prompt-{{loop.index}}" placeholder="" name="prompt-{{loop.index}}" required>
        <label for="prompt-{{loop.index}}">
            {% if prompt[0] in 'aeiou' %}
            Enter an {{prompt}}
            {% else %}
            Enter a {{prompt}}
            {% endif %}
        </label>
        {% endfor %}
        <button>View Results</button>
    </form>
{% endblock %}